article {

@media (max-width:480px){
.share-box div{
  float: none;
  clear: both;
  display: block;
  margin-bottom: 5px;
  }
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

  padding: 0 12px 0 12px;

  h1 {
    margin: 30px 0 10px 0;
    font-size: x-large;
    font-weight: bold;
    color: #5f9ea0;
  }

  .tag-labels {
    $tag-label-background: $medium-gray;
    $tag-label-font-color: white;
    $tag-label-font-size: $base-font-size * .75;
  
    display: block;
    margin-bottom: $base-line-height;
  
    .tag-label {
      background: $tag-label-background;
      border-radius: 2em;
      color: $tag-label-font-color;
      font-size: $tag-label-font-size;
      font-weight: 600;
      line-height: 1;
      padding: .25em 1em;
      text-align: center;
      margin-right: .4em;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .posted-date {
    padding-left: .5em;
  }

 p.paginate {
    text-align: right;
    font-weight: bold;
    color: #9370db;
  }

div#share {
  position: relative;
  overflow: hidden;
}
 
div#share ul {
  float:left;
  left:50%;
  position:relative;
}
 
div#share li {
  float:left;
  left:-50%;
  position:relative;
}

 img {
   border: 1px solid rgba( 0,0,0 , 0.1 ) 
  }
 
 img.author {
  width: 30px;
  height: 30px;
  border: 0px
}

 div.box1 {
  background-color: #fbfbfb;
  padding:1px 10px 10px 20px;
  border:1px dotted #bbb;
  border-radius: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset,
                0 0 2px rgba(255, 255, 255, 0.3) inset,
                0 0 10px rgba(0, 0, 0, 0.1) inset,
                0 1px 20px rgba(0, 0, 0, 0.1);
  margin: 10px 10px;
}

 img.mauthor {
  border: 0px
}
  .read-more {
    @include clearfix;
    a {
      float: right;
    }
  }
}
